{% extends "base.html" %}
{% load instance_utils %}

{% block extra_head %}
<!-- Open Graph -->
{% include "includes/seo/og_meta.html" with 
    og_title=page.meta_title|default:page.title
    og_description=page.meta_description
%}
{% endblock %}

{% block content %}
{% if hero %}
    {% include "pages/sections/hero.html" %}
{% endif %}

{% if page.show_title %}
<div class="max-w-3xl mx-auto text-center mt-8 mb-8">
    <h1 class="text-4xl font-bold">{{ page.title }}</h1>
</div>
{% endif %}

<div class="max-w-3xl mx-auto text-center mt-8 mb-8">
    {% if page.meta_description %}
    <p class="text-[color:var(--color-font-main)]/70">{{ page.meta_description }}</p>
    {% endif %}
</div>

{% for block in content_blocks %}
   {% include block.get_template with block=block section=block %}
{% endfor %}

{% endblock %}

{% block page_schema %}
{% include "includes/seo/schema_webpage.html" with page=page %}
{% endblock %}