{% extends "base.html" %}
{% load instance_utils %}

{% block canonical_url %}{{ site_url }}{% endblock %}

{% block extra_head %}
<!-- Open Graph -->
{% include "includes/seo/og_meta.html" with 
    og_title=site_name
    og_description=site_settings.default_meta_description
%}
{% endblock %}

{% block content %}
{% if hero %}
    {% include "pages/sections/hero.html" %}
{% endif %}

<!-- PAGE SECTIONS (dynamic sections from PageSection model) -->
{% for block in content_blocks %}
    {% include block.get_template with block=block section=block %}
{% endfor %}

{% if featured_products %}
    {% include "pages/sections/featured_products.html" %}
{% endif %}

{% if blog_posts %}
    {% include "pages/sections/blog_posts.html" %}
{% endif %}

{% endblock %}

{% block page_schema %}
{% include "includes/seo/schema_webpage.html" %}
{% include "includes/seo/schema_organization.html" %}
{% endblock %}